<footer class="footer">
  <div class="footer-main">
    <!-- figure -->
    <!-- <figure class="footer-brand"> -->
    <!--   <a class="logo" href="https://asciidoctor.org" target="_blank" rel="noopener"><img src="{{uiRootPath}}/img/asciidoctor-logo.svg" alt="Asciidoctor" width="48"></a> -->
    <!--   <figcaption class="footer-brand-name"><a href="https://asciidoctor.org" target="_blank" rel="noopener">Asciidoctor</a></figcaption> -->
    <!-- </figure> -->
    <ul class="footer-brand-links">
      <!--
      <li><a href="https://asciidoctor.org" target="_blank" rel="noopener">Home</a></li>
      -->
      <!-- links -->
      <!-- <li><a href="{{{or site.url siteRootPath}}}">Docs</a></li> -->
      <!-- <li><a href="https://chat.asciidoctor.org" target="_blank" rel="noopener">Chat</a></li> -->
      <!-- <li><a href="https://github.com/asciidoctor" target="_blank" rel="noopener">Source</a></li> -->
      <!-- <li><a href="https://discuss.asciidoctor.org" target="_blank" rel="noopener">List (archive)</a></li> -->
    </ul>
    <p class="footer-brand-follow">
      <!-- <a href="https://twitter.com/asciidoctor" title="Follow us on Twitter" target="_blank" rel="noopener"><img src="{{{uiRootPath}}}/img/twitter-logo.svg" alt="Twitter logo" class="logo" width="28"><span class="handle">@asciidoctor</span></a> -->

    </p>
  </div>
  <div class="footer-legal">
    <!-- <p>Copyright © {{{year}}} Dan Allen, Sarah White, and individual Asciidoctor contributors. Except where noted, the content is licensed under a Creative Commons Attribution 4.0 International (CC BY 4.0) license.</p> -->
    <!-- <p>The <a href="https://github.com/asciidoctor/asciidoctor-docs-ui" target="_blank" rel="noopener">UI for this site</a> is derived from the Antora default UI and is licensed under the MPL-2.0 license. Several icons are imported from <a href="https://primer.style/octicons/" target="_blank" rel="noopener">Octicons</a> and are licensed under the MIT license.</p> -->
    <!-- <p>AsciiDoc® and AsciiDoc Language™ are trademarks of the Eclipse Foundation, Inc.</p> -->

  <p class="badges">
    <img src="{{{uiRootPath}}}/img/badges/badge-ansible.png" alt="Ansible Logo" width="30">
    <img src="{{{uiRootPath}}}/img/badges/badge-apache.png" alt="Apache Logo" width="30">
    <img src="{{{uiRootPath}}}/img/badges/badge-arch.png" alt="Arch Logo" width="30">
    <img src="{{{uiRootPath}}}/img/badges/badge-aws.png" alt="Aws Logo" width="30">
    <img src="{{{uiRootPath}}}/img/badges/badge-bash.png" alt="Bash Logo" width="30">
    <img src="{{{uiRootPath}}}/img/badges/badge-c.png" alt="C Logo" width="30">
    <img src="{{{uiRootPath}}}/img/badges/badge-cpp.png" alt="Cpp Logo" width="30">
    <img src="{{{uiRootPath}}}/img/badges/badge-debian.png" alt="Debian Logo" width="30">
    <img src="{{{uiRootPath}}}/img/badges/badge-docker.png" alt="Docker Logo" width="30">
    <img src="{{{uiRootPath}}}/img/badges/badge-freebsd.png" alt="Freebsd Logo" width="30">
    <img src="{{{uiRootPath}}}/img/badges/badge-gcp.png" alt="Gcp Logo" width="30">
    <img src="{{{uiRootPath}}}/img/badges/badge-git.png" alt="Git Logo" width="30">
    <img src="{{{uiRootPath}}}/img/badges/badge-github.png" alt="Github Logo" width="30">
    <img src="{{{uiRootPath}}}/img/badges/badge-gitlab.png" alt="Gitlab Logo" width="30">
    <img src="{{{uiRootPath}}}/img/badges/badge-golang.png" alt="Golang Logo" width="30">
    <img src="{{{uiRootPath}}}/img/badges/badge-grafana.png" alt="Grafana Logo" width="30">
    <img src="{{{uiRootPath}}}/img/badges/badge-k8s.png" alt="K8s Logo" width="30">
    <img src="{{{uiRootPath}}}/img/badges/badge-linux.png" alt="Linux Logo" width="30">
    <img src="{{{uiRootPath}}}/img/badges/badge-lua.png" alt="Lua Logo" width="30">
    <img src="{{{uiRootPath}}}/img/badges/badge-makefile.png" alt="Makefile Logo" width="30">
    <img src="{{{uiRootPath}}}/img/badges/badge-mysql.png" alt="Mysql Logo" width="30">
    <img src="{{{uiRootPath}}}/img/badges/badge-neovim.png" alt="Neovim Logo" width="30">
    <img src="{{{uiRootPath}}}/img/badges/badge-nginx.png" alt="Nginx Logo" width="30">
    <img src="{{{uiRootPath}}}/img/badges/badge-nix.png" alt="Nix Logo" width="30">
    <img src="{{{uiRootPath}}}/img/badges/badge-nodejs.png" alt="Nodejs Logo" width="30">
    <img src="{{{uiRootPath}}}/img/badges/badge-perl.png" alt="Perl Logo" width="30">
    <img src="{{{uiRootPath}}}/img/badges/badge-postgresql.png" alt="Postgresql Logo" width="30">
    <img src="{{{uiRootPath}}}/img/badges/badge-prometheus.png" alt="Prometheus Logo" width="30">
    <img src="{{{uiRootPath}}}/img/badges/badge-python.png" alt="Python Logo" width="30">
    <img src="{{{uiRootPath}}}/img/badges/badge-redis.png" alt="Redis Logo" width="30">
    <img src="{{{uiRootPath}}}/img/badges/badge-rhel.png" alt="Rhel Logo" width="30">
    <img src="{{{uiRootPath}}}/img/badges/badge-ruby.png" alt="Ruby Logo" width="30">
    <img src="{{{uiRootPath}}}/img/badges/badge-suse.png" alt="Suse Logo" width="30">
    <img src="{{{uiRootPath}}}/img/badges/badge-terraform.png" alt="Terraform Logo" width="30">
    <img src="{{{uiRootPath}}}/img/badges/badge-tmux.png" alt="Tmux Logo" width="30">
    <img src="{{{uiRootPath}}}/img/badges/badge-ubuntu.png" alt="Ubuntu Logo" width="30">
    <img src="{{{uiRootPath}}}/img/badges/badge-vim.png" alt="Vim Logo" width="30">
    <img src="{{{uiRootPath}}}/img/badges/badge-void.png" alt="Void Logo" width="30">
    <img src="{{{uiRootPath}}}/img/badges/badge-zsh.png" alt="Zsh Logo" width="30">
  </p>

  </div>
  <div class="footer-thanks">
    <!-- <p> -->
    <!--   Thanks to our -->
    <!--   <a href="https://asciidoctor.org/supporters/" target="_blank" rel="noopener"> backers </a> -->
    <!--   and -->
    <!--   <a href="https://asciidoctor.org/contributors/" target="_blank" rel="noopener"> contributors </a> -->
    <!--   for helping to make this project possible. Additional thanks to: -->
    <!-- </p> -->

    <!--   <a href="https://zulip.com" title="Chat powered by Zulip" target="_blank" rel="noopener"><img src="{{{uiRootPath}}}/img/zulip-logo.svg" alt="Zulip logo" width="30"></a> -->
    <!-- <p>Thanks to our <a href="https://asciidoctor.org/supporters/" target="_blank" rel="noopener">backers</a> and <a href="https://asciidoctor.org/contributors/" target="_blank" rel="noopener">contributors</a> for helping to make this project possible. Additional thanks to:</p> -->
    <!-- <p class="badges"> -->
    <!--   <a href="https://opendevise.com" title="Development support by OpenDevise" target="_blank" rel="noopener"><img src="https://secure.gravatar.com/avatar/823717a797dbd78ceff7b26aa397f383.png?size=80" alt="OpenDevise Logo" width="30"></a> -->
    <!--   <a href="https://zulip.com" title="Chat powered by Zulip" target="_blank" rel="noopener"><img src="{{{uiRootPath}}}/img/zulip-logo.svg" alt="Zulip logo" width="30"></a> -->
    <!--   <a href="https://algolia.com/docsearch" title="Search by Algolia DocSearch" target="_blank" rel="noopener"><img src="{{{uiRootPath}}}/img/algolia-logo.svg" alt="Algolia logo" width="30"></a> -->
    <!--   <a href="https://netlify.com" title="Deploys by Netlify" target="_blank" rel="noopener"><img src="{{{uiRootPath}}}/img/netlify-logo.svg" alt="Deploys by Netlify" width="67"></a> -->
    <!-- </p> -->
    <!-- <p>Authored in <a href="https://asciidoc.org" target="_blank" rel="noopener">AsciiDoc</a>.<br>Produced by <a href="https://antora.org" target="_blank" rel="noopener">Antora</a> and <a href="https://asciidoctor.org" target="_blank" rel="noopener">Asciidoctor</a>.</p> -->
  </div>
</footer>
