<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
    <!-- Put the logo here -->
    <a class="navbar-item logo" title="{{site.title}}" href="{{#with (and site.url site.homeUrl)}}{{{@root.site.url}}}{{{this}}}{{else}}{{{siteRootPath}}}{{/with}}">
        <img src="{{{uiRootPath}}}/img/logo/logo.png" alt="{{site.title}}" width="48">
      </a>
      <a class="navbar-item title" href="{{#with (and site.url site.homeUrl)}}{{{@root.site.url}}}{{{this}}}{{else}}{{{siteRootPath}}}{{/with}}">{{site.title}}</a>
      <button class="navbar-burger" aria-controls="topbar-nav" aria-expanded="false" aria-label="Toggle main menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>

    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        {{#if env.ALGOLIA_API_KEY}}
        <div class="navbar-item search hide-for-print">
          {{#if (and page.component (ne page.component.name 'home') (ne page.component.name 'ROOT'))}}
          <div id="search" class="field has-filter">
            <input class="query" type="text" placeholder="Search the docs">
            <label class="filter checkbox">
              <input type="checkbox" data-facet-filter="component:{{page.component.name}}"> In this project
            </label>
          </div>
          {{else}}
          <div id="search" class="field">
            <input class="query" type="text" placeholder="Search the docs"{{#if page.home}} autofocus{{/if}}>
          </div>
          {{/if}}
        </div>
        {{/if}}
        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">Languages</div>
          <div class="navbar-dropdown">
            <div class="navbar-item">Programming</div>
              <a class="navbar-item" href="{{{relativize (resolvePageURL 'programming-go::index.adoc')}}}">
                Go <small>Tooling</small>
              </a>
              <a class="navbar-item" href="{{{relativize (resolvePageURL 'programming-lua::index.adoc')}}}">
                Lua <small>Plugable</small>
              </a>
              <a class="navbar-item" href="{{{relativize (resolvePageURL 'programming-perl::index.adoc')}}}">
                Perl <small>Scripting</small>
              </a>
            <hr class="navbar-divider">
            <div class="navbar-item">Markup</div>
              <a class="navbar-item" href="{{{relativize (resolvePageURL 'tool-asciidoc::index.adoc')}}}">
                Asciidoc <small></small>
              </a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">Tools</div>
          <div class="navbar-dropdown">
            <div class="navbar-item">CLI Tooling</div>
              <a class="navbar-item" href="{{{relativize (resolvePageURL 'tool-git::index.adoc')}}}">
                Git <small>Version Control</small>
              </a>
            <hr class="navbar-divider">
          </div>
        </div>

        <!-- <div class="navbar-item has-dropdown is-hoverable"> -->
        <!--   <div class="navbar-link">section</div> -->
        <!--   <div class="navbar-dropdown"> -->
        <!--     <div class="navbar-item">subsection</div> -->
        <!--       <a class="navbar-item" href="{{{relativize (resolvePageURL 'tool-git::index.adoc')}}}"> -->
        <!--         itemize <small>item</small> -->
        <!--       </a> -->
        <!--     <hr class="navbar-divider"> -->
        <!--   </div> -->
        <!-- </div> -->

        <!-- <div class="navbar-item has-dropdown is-hoverable"> -->
        <!--   <div class="navbar-link">Info</div> -->
        <!--   <div class="navbar-dropdown is-right"> -->
        <!--     <div class="navbar-item">Contact</div> -->
        <!--       <a class="navbar-item" href="mailto:hosteam01@gmail.com"> -->
        <!--         E-mail <small>hosteam01@gmail.com</small> -->
        <!--       </a> -->
        <!--     <hr class="navbar-divider"> -->
        <!--     <div class="navbar-item">Social</div> -->
        <!--       <a class="navbar-item" href="https://github.com/hossein-lap"> -->
        <!--         Github <small>hossein-lap</small> -->
        <!--       </a> -->
        <!--       <a class="navbar-item" href="https://gitlab.com/primejade"> -->
        <!--         Gitlab <small>primejade</small> -->
        <!--       </a> -->
        <!--       <a class="navbar-item" href="https://linkedin.com/in/hossein-esmail"> -->
        <!--         Linked-in <small>hossein-esmail</small> -->
        <!--       </a> -->
        <!--   </div> -->
        <!-- </div> -->

        <!-- <div class="navbar-item has-dropdown is-hoverable"> -->
        <!--   <a class="navbar-item" href="{{{relativize (resolvePageURL 'about::support.adoc')}}}" data-title="Support"> -->
        <!--     <span class="icon"><img src="{{{uiRootPath}}}/img/octicons-24.svg#view-comment-discussion"></span> -->
        <!--   </a> -->
        <!--   <div class="navbar-dropdown is-right"> -->
            <!-- <a class="navbar-item has-icon" href="https://chat.asciidoctor.org" target="_blank" rel="noopener"> -->
            <!--   <span class="icon"><img src="{{{uiRootPath}}}/img/octicons-16.svg#view-comment-discussion"></span> -->
            <!--   <span>Chat</span> -->
            <!-- </a> -->
            <!-- <a class="navbar-item has-icon" href="mailto://hosteam01@gmail.com" target="_blank" rel="noopener"> -->
            <!--   <span class="icon"><img src="{{{uiRootPath}}}/img/octicons-16.svg#view-linked-in"></span> -->
            <!--   <span>E-Mail</span> -->
            <!-- </a> -->
        <!--     <a class="navbar-item has-icon" href="mailto://hosteam01@gmail.com" target="_blank" rel="noopener"> -->
        <!--       <span class="icon"><img src="{{{uiRootPath}}}/img/octicons-16.svg#view-mail"></span> -->
        <!--       <span>E-Mail</span> -->
        <!--     </a> -->
        <!--     <a class="navbar-item has-icon" href="https://github.com/hossein-lap" target="_blank" rel="noopener"> -->
        <!--       <span class="icon"><img src="{{{uiRootPath}}}/img/octicons-16.svg#view-mark-github"></span> -->
        <!--       <span>Github</span> -->
        <!--     </a> -->
        <!--     <a class="navbar-item has-icon" href="https://github.com/hossein-lap" target="_blank" rel="noopener"> -->
        <!--       <span class="icon"><img src="{{{uiRootPath}}}/img/octicons-16.svg#view-mark-gitlab"></span> -->
        <!--       <span>Gitlap</span> -->
        <!--     </a> -->
            <!-- <a class="navbar-item has-icon" href="https://twitter.com/asciidoctor" target="_blank" rel="noopener"> -->
            <!--   <span class="icon"><img src="{{{uiRootPath}}}/img/octicons-16.svg#view-hash"></span> -->
            <!--   <span>Tweets</span> -->
            <!-- </a> -->
        <!--   </div> -->
        <!-- </div> -->

      </div>
    </div>

  </nav>
</header>
